.bloom-form__form {
  display: grid;
  grid-template:
    "textarea textarea" auto
    "char-count submit" auto / 1fr min-content;
  margin-bottom: calc(-1 * var(--space));
}

.bloom-form__field {
  grid-area: textarea;
}

.bloom-form__submit {
  grid-area: submit;
  margin: 0 auto auto 0;
}

.bloom-form__char-count {
  grid-area: char-count;
}
